

    <div class="col-9">  
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Job Number</th>
            <th scope="col">Name</th>
            <th scope="col">DOC Amount</th>
           
          </tr>
        </thead>
          <tbody>
              <% @contracts.each do |contract| %>
                  <tr>
                    <td><%= contract.job_number %></td>
                      <td><%= contract.job_name %></td>
                      <td><%= number_to_currency(contract.milestone_1_amount) %></td>
                  </tr>
              <% end %>
            </tbody>
      </table>
    </div>
 