<h1>Contracts</h1>

<ul>
    <% @contracts.each do |contract| %>
        <li>
            <%= link_to contract.job_number,contract %>
            <%= contract.job_name %>
            <%= contract.job_amount %>
        </li>
    <% end %>
</ul>

<%= link_to "New Contract", new_contract_path %>

