<div class="container">
  <h1>Salesman</h1>

  <div class="row">
    <div class="col-9">  
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Commission</th>

          </tr>
        </thead>
          <tbody>

              <tr>
                  <td><%= @salesman.full_name %></td>
                  <td><%= number_to_percentage(@salesman.sales_commission, precision: 0) %></td>
                  <td><%= link_to "Edit", edit_salesman_path(@salesman), :class=>"btn btn-primary btn-sm" %></td>
                          <td><%= link_to "Delete", salesman_path(@salesman), :class=> "btn btn-primary btn-sm",
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></td>
              </tr>
          </tbody>
      </table>
      </div>
  </div>
</div>