@import 'bootstrap/dist/css/bootstrap';

.navbar {

    background-color: dodgerblue !important;
    
    }
    
     
    
    .navbar-brand {
    
    font-size: 1rem;
    
    }
    
     
    
    h1 {
    
    color:dodgerblue;
    
    }

    .btn-primary {
        background-color: dodgerblue;
    }